body {
  background-color: #ebebeb;
}
.grid-main {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto 100px auto;
  min-width: 860px;
}
.grid-top {
  background-color: #ffffff;
  border-color:grey;
  border-radius: 1%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:20% 10% 10% auto 100px ;
}
.pp {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
.pp img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  border-style:solid;
  border-width: 3px;
  border-color: #CCCCCC;
}
.title {
  color: #DD5555;
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}
.subtitle {
  color: #7d7d7d;
  font-size: 22px;
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  margin-bottom: 10px;
}
.resume {
  text-align: justify;
  grid-row: 4 / span 1;
  grid-column: 1 / span 3;
  margin: 5px 10px;
  opacity: 0.7;
}
.wiki {
  grid-row: 5 / span 1;
  grid-column: 1 / span 3;
}

.socialbar {
  display: grid;
  background-color: #ffffff;
  border-color:grey;
  border-radius: 1%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.fb {
  grid-column: 1 / span 1;
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.my-text-fb {
  font-family: "Courier-new";
  opacity: 0.5;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.tw {
  grid-column: 2 / span 1;
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
.my-text-tw {
  font-family: "Courier-new";
  opacity: 0.5;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.ln {
  grid-column: 3 / span 1;
  display:flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
.my-text-ln {
  font-family: "Courier-new";
  opacity: 0.5;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.grid-bot {
  display: grid;
  background-color: #ffffff;
  border-color:grey;
  border-radius: 1%;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  grid-template-columns:1fr 3fr;
  grid-template-rows:100px auto auto;
  grid-row-gap: 20px;
}
.title-bot {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  padding-top: 30px;
  padding-bottom: 30px;
}
.img1 {
  grid-row: 2 /span 1;
  grid-column: 1 / span 1;
  margin-top: 5px;
}
.img1 img {
  height: 150px;
  width: auto;
}
.img2 {
  grid-row: 3 /span 1;
  grid-column: 1 / span 1;
  margin-top: 5px;
}
.img2 img {
  height: 150px;
  width: auto;
}
.img3 {
  grid-row: 4 /span 1;
  grid-column: 1 / span 1;
  margin-top: 5px;
}
.img3 img {
  height: 150px;
  width: auto;
}
.txt1 {
  grid-row: 2 / span 1;
  grid-column: 2 span 1;
}
.txt2 {
  grid-row: 3 / span 1;
  grid-column: 2 span 1;
}
.txt3 {
  grid-row: 4 / span 1;
  grid-column: 2 span 1;
}
p {
  text-align: left;
  color: grey;
  line-height: 25px;
  opacity: 1.2;
  font-family: 'Titillium Web', sans-serif;
  word-spacing: 5px;
}
h1 {
  opacity: 0.5;
}
.Ses {
  background-color:#D4D4D4;
}
a {
  text-decoration: none;
  color: grey;
}
.btn {
  background: #dd5555;
  background-image: -webkit-linear-gradient(top, #dd5555, #dd5555);
  background-image: -moz-linear-gradient(top, #dd5555, #dd5555);
  background-image: -ms-linear-gradient(top, #dd5555, #dd5555);
  background-image: -o-linear-gradient(top, #dd5555, #dd5555);
  background-image: linear-gradient(to bottom, #dd5555, #dd5555);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@media (max-width: 800px) {
  .grid-main{
    min-width: 600px;
  }
  .grid-top {
    width: 100%
  }
  .grid-bot {
    width: 100%
  }
  .socialbar {
    width: 100%
  }
}
